# macOS Finder metadata
.DS_Store
**/.DS_Store

# Binaries (in bin/ or anywhere)
bin/
**/bin/
**/build/
*.exe
*.out
*.bin

# Compiled Go binaries (just in case)
*.exe
*.test

# Temporary or backup files
*.swp
*.bak
*.tmp

# Misc
**/.vscode/
**/shon-0.6.0.vsix
vsextension/shon-0.6.0.vsix
tooling/shon/shon
todo.txt
